.about {
	margin: 12px;
	width: auto;
}

.about .content {
	justify-content: space-evenly;
	gap: 100px;
	padding-left: 300px;
}

.photo {
	text-align: center;
}

.photo img {
	border-radius: 100%;
	height: 13vw;
}

.name {
	vertical-align: bottom;
}

.subtitle {
	color: var(--lightGrey);
}

.description {
	font-size: 1.5vw;
	padding-right: 100px;
	color: var(--lightGrey);
}