@import url('https://fonts.googleapis.com/css?family=Warnes&display=swap');

.neon {
    font-family: "Warnes";
	color: white;
}

.glowNeon {
	animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
	from {
	  text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px var(--pink), 0 0 20px var(--pink), 0 0 25px var(--pink), 0 0 30px var(--pink), 0 0 35px var(--pink);
	}
	to {
	  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px var(--pink), 0 0 40px var(--pink), 0 0 50px var(--pink), 0 0 60px var(--pink), 0 0 70px var(--pink);
	}
}


.pinkNeon {
	text-shadow:
		0 0 7px white,
		0 0 10px white,
		0 0 21px white,
		0 0 42px var(--pink),
		0 0 82px var(--pink),
		0 0 92px var(--pink),
		0 0 102px var(--pink),
		0 0 151px var(--pink);
}

.imgNeon {
    box-shadow:
        0 0 7px white,
        0 0 10px white,
        0 0 21px white,
        0 0 42px var(--pink),
        0 0 82px var(--pink),
        0 0 92px var(--pink);
}