@import url('https://fonts.googleapis.com/css?family=Warnes&display=swap');

.neon {
    font-family: "Warnes";
	color: #fff;
}

.glowNeon {
	animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
	from {
	  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ea00d9, 0 0 20px #ea00d9, 0 0 25px #ea00d9, 0 0 30px #ea00d9, 0 0 35px #ea00d9;
	}
	to {
	  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ea00d9, 0 0 40px #ea00d9, 0 0 50px #ea00d9, 0 0 60px #ea00d9, 0 0 70px #ea00d9;
	}
}


.pinkNeon {
	text-shadow:
		0 0 7px #fff,
		0 0 10px #fff,
		0 0 21px #fff,
		0 0 42px #ea00d9,
		0 0 82px #ea00d9,
		0 0 92px #ea00d9,
		0 0 102px #ea00d9,
		0 0 151px #ea00d9;
}

.imgNeon {
    box-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #ea00d9,
        0 0 82px #ea00d9,
        0 0 92px #ea00d9;
}