.skills {
	width: auto;
	height: auto;
	align-items: space-evenly;
	justify-content: center;
}

.skills .content {
	display: flex;
	padding-left: 70px;
	align-items: center;
}

.logo {
	width: 7.5vh;
}

.skills img {
	height: 7vh;
}